split and aggregrate/workflow
{
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -256,
        64
      ],
      "id": "b9cca559-c76d-4a2b-9c8d-4be22033d625",
      "name": "When clicking Execute workflow"
    },
    {
      "parameters": {
        "url": "https://jsonplaceholder.typicode.com/users",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "_limit",
              "value": "5"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -32,
        64
      ],
      "id": "7be4c872-d551-46b9-a61b-cb276b5c7953",
      "name": "Get Users"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1a1a1a1-b2b2-c3c3-d4d4-e5e5e5e5e5e5",
              "name": "name",
              "value": "={{$json.name}}",
              "type": "string"
            },
            {
              "id": "b2b2b2b2-c3c3-d4d4-e5e5-f6f6f6f6f6f6",
              "name": "city",
              "value": "={{$json.address.city}}",
              "type": "string"
            },
            {
              "id": "c3c3c3c3-d4d4-e5e5-f6f6-a7a7a7a7a7a7",
              "name": "company",
              "value": "={{$json.company.name}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        192,
        64
      ],
      "id": "051c3168-433f-434b-bd02-21d2faf72d74",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        416,
        64
      ],
      "id": "bbe27009-87a0-441d-8c06-277303a88bac",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "fieldToSplitOut": "name",
        "include": "allOtherFields",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        624,
        64
      ],
      "id": "ff8abb99-a9e3-4a66-b9d8-1ea3fab29398",
      "name": "Split Out"
    }
  ],
  "connections": {
    "When clicking Execute workflow": {
      "main": [
        [
          {
            "node": "Get Users",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Users": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "c4bb5e99a0afd3821b75dad9dbcf50644e10eb52864849817d666ae95aca2b1d"
  }
}
