monitor-report-errors
{
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "b587647f-bfca-4156-91d6-79d9923d9ee0",
      "name": "Error Trigger"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fbf9091b-2158-41a4-a59c-62a610aec33a",
              "name": "=content",
              "value": "=[351eb5323416ed9f26787bb70d4043d5] Workflow Error Alert - Workflow: {{ $json.workflow.name }} | Error: {{ $json.execution.error.message }} | Last node: {{ $json.execution.lastNodeExecuted }} | Execution URL: {{ $json.execution.url }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        192
      ],
      "id": "308d64db-d8ef-4036-9ad3-45486a7634ba",
      "name": "BuildErrorMessage"
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "={{ $json.content }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "f63b6ad9-fc19-42cb-9ced-a14f359bb499",
      "name": "NotifyDiscord",
      "webhookId": "3c113cb5-24df-4f2f-96e9-cd2567524b7a",
      "credentials": {
        "discordWebhookApi": {
          "id": "AHvNlQQmFRiVT6oi",
          "name": "n8n Quickstart S2 Error Discord Webhook account"
        }
      }
    }
  ],
  "connections": {
    "Error Trigger": {
      "main": [
        [
          {
            "node": "BuildErrorMessage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BuildErrorMessage": {
      "main": [
        [
          {
            "node": "NotifyDiscord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c4bb5e99a0afd3821b75dad9dbcf50644e10eb52864849817d666ae95aca2b1d"
  }
}
