debugging/workflow
{
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "9cd3305e-29ca-4460-95ff-190f9febdb17",
      "name": "TriggerManual"
    },
    {
      "parameters": {
        "url": "https://learn.app.n8n.cloud/webhook/course/n8n103/unreliable-api",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Assessment-ID",
              "value": "351eb5323416ed9f26787bb70d4043d5"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        0
      ],
      "id": "c7627513-9606-4c49-94f9-8b70fb99097f",
      "name": "GetUnreliableData",
      "retryOnFail": true,
      "maxTries": 5,
      "credentials": {
        "httpHeaderAuth": {
          "id": "Kk3l7dnBMbaxvFJj",
          "name": "Header Auth account 5"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://learn.app.n8n.cloud/webhook/webhook/course/n8n103/retry-result",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Assessment-ID",
              "value": "351eb5323416ed9f26787bb70d4043d5"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "confirmation_code",
              "value": "={{ $json.confirmation_code }}"
            },
            {
              "name": "order_id",
              "value": "={{ $json.order.order_id }}"
            },
            {
              "name": "customer_name",
              "value": "={{ $json.order.customer_name }}"
            },
            {
              "name": "retry_configured",
              "value": "={{ true }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        416,
        0
      ],
      "id": "dea92b72-4b9f-41d3-8132-cc617f4166cc",
      "name": "SendRetryResult",
      "credentials": {
        "httpHeaderAuth": {
          "id": "Kk3l7dnBMbaxvFJj",
          "name": "Header Auth account 5"
        }
      }
    }
  ],
  "connections": {
    "TriggerManual": {
      "main": [
        [
          {
            "node": "GetUnreliableData",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetUnreliableData": {
      "main": [
        [
          {
            "node": "SendRetryResult",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "c4bb5e99a0afd3821b75dad9dbcf50644e10eb52864849817d666ae95aca2b1d"
  }
}
