sales-report-discord-bot/worflow
{
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -48,
        144
      ],
      "id": "a9a02f9e-6d96-452d-ae64-cf2c4aced106",
      "name": "TriggerManually"
    },
    {
      "parameters": {
        "url": "https://learn.app.n8n.cloud/webhook/courses/n8n-quickstart/company-warehouse",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-assessment-id",
              "value": "351eb5323416ed9f26787bb70d4043d5"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        0
      ],
      "id": "32c35b24-7781-451d-b8f7-333d82c0cbd7",
      "name": "GetDataFromWarehouse",
      "credentials": {
        "httpHeaderAuth": {
          "id": "k0EbegVI9GPPJkcS",
          "name": "Header Auth account 3"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "6b5c1423-eb25-4491-bd1c-804bfb66df7e",
              "leftValue": "={{ $json.orderStatus }}",
              "rightValue": "processing",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        416,
        0
      ],
      "id": "b00d96a5-9975-475d-9598-5cc8f25332d1",
      "name": "CheckOrdersStatus"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "42cd592c-879c-4096-a45e-73f7a8adc631",
              "name": "orderID",
              "value": "={{ $json.orderID }}",
              "type": "number"
            },
            {
              "id": "61cdd40a-fe6b-4b38-9f60-1205b2f78826",
              "name": "employeeName",
              "value": "={{ $json.employeeName }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        672,
        -112
      ],
      "id": "9d9785c5-1411-4037-b3fd-5dcfc1e73dec",
      "name": "SetProcessingData"
    },
    {
      "parameters": {
        "jsCode": "let items = $input.all();\nlet totalBooked = items.length;\nlet bookedSum = 0;\n\nfor (let i=0; i < items.length; i++) {\n  bookedSum = bookedSum + items[i].json.orderPrice;\n}\n\nreturn [{ json: {totalBooked, bookedSum} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        96
      ],
      "id": "834e7f22-e18a-4cd9-afb8-21ff98e0f68e",
      "name": "CalculateBookedOrders"
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "DF7PDVTfZEmcRunr",
          "mode": "list",
          "cachedResultName": "processingOrders",
          "cachedResultUrl": "/projects/CtRzYUT3Vobi7eTl/datatables/DF7PDVTfZEmcRunr"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "orderID",
              "keyValue": "={{ $json.orderID }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "orderID",
              "displayName": "orderID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "customerID",
              "displayName": "customerID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "employeeName",
              "displayName": "employeeName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "orderPrice",
              "displayName": "orderPrice",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "orderStatus",
              "displayName": "orderStatus",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        848,
        -112
      ],
      "id": "e43cd36c-933e-48e9-b134-65475534d5f5",
      "name": "UpsertOrders"
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "=This week we've {{$json.totalBooked}} booked orders with a total value of {{$json.bookedSum.round(2)}}. My Assessment ID: {{ $('GetDataFromWarehouse').params.headerParameters.parameters[0].value }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        832,
        96
      ],
      "id": "97dcb4cb-7639-451b-b666-d7b9277c3925",
      "name": "Discord",
      "webhookId": "7bc74892-6780-425a-890b-5d223810f894",
      "credentials": {
        "discordWebhookApi": {
          "id": "Nyjn1rBruGJV2IDN",
          "name": "n8n Quickstart S1 Discord Webhook account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1
              ],
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -48,
        -96
      ],
      "id": "a4a34a00-2df3-4bd4-ab5b-796023093a06",
      "name": "TriggerMondays9am"
    }
  ],
  "connections": {
    "TriggerManually": {
      "main": [
        [
          {
            "node": "GetDataFromWarehouse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetDataFromWarehouse": {
      "main": [
        [
          {
            "node": "CheckOrdersStatus",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CheckOrdersStatus": {
      "main": [
        [
          {
            "node": "SetProcessingData",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "CalculateBookedOrders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SetProcessingData": {
      "main": [
        [
          {
            "node": "UpsertOrders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CalculateBookedOrders": {
      "main": [
        [
          {
            "node": "Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UpsertOrders": {
      "main": [
        []
      ]
    },
    "TriggerMondays9am": {
      "main": [
        [
          {
            "node": "GetDataFromWarehouse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c4bb5e99a0afd3821b75dad9dbcf50644e10eb52864849817d666ae95aca2b1d"
  }
}
