sales-data-pipeline/workflow
{
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "8280b24b-3709-42ca-b39d-9a0fd9f58663",
      "name": "TriggerMannual"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "orders",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        912,
        -112
      ],
      "id": "f54fe0e0-3fde-4d65-b979-52ad8baa42aa",
      "name": "AggregateOrders"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a7942de1-1d3f-4fb3-9889-5f124220eb9e",
              "name": "order_total",
              "value": "={{ $json.quantity * $json.unit_price }}",
              "type": "number"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        624,
        0
      ],
      "id": "14ab292e-4c5e-473d-afa1-7486e2272073",
      "name": "SetOrderTotals"
    },
    {
      "parameters": {
        "fieldToSplitOut": "orders",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        416,
        0
      ],
      "id": "f5b91341-59d4-4f19-b751-4b92ebae2901",
      "name": "SplitOrders"
    },
    {
      "parameters": {
        "url": "https://learn.app.n8n.cloud/webhook/course/n8n101/sales-data",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Assessment-ID",
              "value": "351eb5323416ed9f26787bb70d4043d5"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        0
      ],
      "id": "54da278e-c40d-466f-8a87-ac1b80977f27",
      "name": "GetSalesData",
      "credentials": {
        "httpHeaderAuth": {
          "id": "e7YkRE0XgaIwOl96",
          "name": "Header Auth account 2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://learn.app.n8n.cloud/webhook/course/n8n101/process-orders",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Assessment-ID",
              "value": "351eb5323416ed9f26787bb70d4043d5"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "orders",
              "value": "={{ $json.orders }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1120,
        -112
      ],
      "id": "54d33427-171f-4357-bd12-15b8007bdcc8",
      "name": "SendOrders",
      "credentials": {
        "httpHeaderAuth": {
          "id": "e7YkRE0XgaIwOl96",
          "name": "Header Auth account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "8fa5256d-45db-4e29-8784-92b86456accf",
              "leftValue": "={{ $json.status }}",
              "rightValue": "delivered",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        912,
        160
      ],
      "id": "1a323f2d-6ff6-4b13-a6e7-86c770b424d8",
      "name": "FilterOrder"
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "sum",
              "field": "order_total"
            },
            {
              "field": "order_total"
            },
            {
              "aggregation": "average",
              "field": "order_total"
            }
          ]
        },
        "fieldsToSplitBy": "region",
        "options": {}
      },
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1.1,
      "position": [
        1168,
        112
      ],
      "id": "77f1bcbf-738f-4a4e-8fba-25894928181f",
      "name": "SummarizeByRegion"
    },
    {
      "parameters": {
        "keys": {
          "key": [
            {
              "currentKey": "sum_order_total",
              "newKey": "order_totals"
            },
            {
              "currentKey": "count_order_total",
              "newKey": "order_count"
            },
            {
              "currentKey": "average_order_total",
              "newKey": "average_order_total"
            }
          ]
        },
        "additionalOptions": {}
      },
      "type": "n8n-nodes-base.renameKeys",
      "typeVersion": 1,
      "position": [
        1344,
        112
      ],
      "id": "63fd291f-731f-44f8-bb1e-30515659cd27",
      "name": "UpdateFieldsName"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "regions",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1552,
        0
      ],
      "id": "236bfdf8-b4c4-489b-8e96-8804aaf379df",
      "name": "AggregateRegions"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://learn.app.n8n.cloud/webhook/course/n8n101/validate-analysis",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Assessment-ID",
              "value": "351eb5323416ed9f26787bb70d4043d5"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "regions",
              "value": "={{ $json.regions }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1760,
        0
      ],
      "id": "2f69dfc8-9d06-4a2b-b5cd-1c246d5d9b0b",
      "name": "SendAnalysis",
      "credentials": {
        "httpHeaderAuth": {
          "id": "e7YkRE0XgaIwOl96",
          "name": "Header Auth account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "509e1cea-db31-4225-bd41-81adcd5608bf",
              "name": "report_generated",
              "value": "={{ $now.format('yyyy-MM-dd HH:mm:ss') }}",
              "type": "string"
            },
            {
              "id": "d7ea9809-a37b-4b4d-bfaf-b937671f3879",
              "name": "assessment_id",
              "value": "351eb5323416ed9f26787bb70d4043d5",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1584,
        256
      ],
      "id": "18f485eb-5b61-4b66-8e63-f644564c091e",
      "name": "SetReportMetadata"
    },
    {
      "parameters": {
        "binaryPropertyName": "report",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1792,
        256
      ],
      "id": "aab6c2f2-4558-400f-b518-fe16771404f4",
      "name": "ConvertToCSV"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://learn.app.n8n.cloud/webhook/course/n8n101/send-report",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Assessment-ID",
              "value": "351eb5323416ed9f26787bb70d4043d5"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "report",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1984,
        256
      ],
      "id": "738d032c-1e36-4686-bb7f-024123893f46",
      "name": "SendReport",
      "credentials": {
        "httpHeaderAuth": {
          "id": "e7YkRE0XgaIwOl96",
          "name": "Header Auth account 2"
        }
      }
    }
  ],
  "connections": {
    "TriggerMannual": {
      "main": [
        [
          {
            "node": "GetSalesData",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AggregateOrders": {
      "main": [
        [
          {
            "node": "SendOrders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SetOrderTotals": {
      "main": [
        [
          {
            "node": "AggregateOrders",
            "type": "main",
            "index": 0
          },
          {
            "node": "FilterOrder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SplitOrders": {
      "main": [
        [
          {
            "node": "SetOrderTotals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetSalesData": {
      "main": [
        [
          {
            "node": "SplitOrders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FilterOrder": {
      "main": [
        [
          {
            "node": "SummarizeByRegion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SummarizeByRegion": {
      "main": [
        [
          {
            "node": "UpdateFieldsName",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UpdateFieldsName": {
      "main": [
        [
          {
            "node": "AggregateRegions",
            "type": "main",
            "index": 0
          },
          {
            "node": "SetReportMetadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AggregateRegions": {
      "main": [
        [
          {
            "node": "SendAnalysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SetReportMetadata": {
      "main": [
        [
          {
            "node": "ConvertToCSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ConvertToCSV": {
      "main": [
        [
          {
            "node": "SendReport",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "c4bb5e99a0afd3821b75dad9dbcf50644e10eb52864849817d666ae95aca2b1d"
  }
}
