feedback-pipeline/workflow
{
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "0cd4aa16-3a34-4541-8777-d0c6437fef21",
      "name": "TriggerManual"
    },
    {
      "parameters": {
        "url": "https://learn.app.n8n.cloud/webhook/course/n8n103/feedback",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Assessment-ID",
              "value": "351eb5323416ed9f26787bb70d4043d5"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        0
      ],
      "id": "af008d40-9824-42c7-8362-736d894f1064",
      "name": "GetFeedback",
      "credentials": {
        "httpHeaderAuth": {
          "id": "Kk3l7dnBMbaxvFJj",
          "name": "Header Auth account 5"
        }
      }
    },
    {
      "parameters": {
        "maxItems": 5,
        "keep": "lastItems"
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        416,
        0
      ],
      "id": "debe27a0-e423-47ef-9665-e2b23417df3c",
      "name": "SetFeedbackItem"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Customer: {{ $json.customer_name }}\nFeedback: {{ $json.message }}\n\nClassification:\n- Sentiment: {{ $json.sentiment }}\n- Topic: {{ $json.topic }}\n- Urgency: {{ $json.urgency }}\n- Key Issue: {{ $json.key_issue }}",
        "messages": {
          "messageValues": [
            {
              "message": "=You are a helpful customer service assistant.\n\nRead the following customer feedback and write a brief, professional response acknowledging their message.\n\nUse the classification to guide your tone:\n- For negative sentiment or high urgency: Be empathetic and apologetic\n- For positive sentiment: Be appreciative and warm\n- For billing or support topics: Offer specific next steps\n\nWrite a 2-3 sentence response."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        1040,
        0
      ],
      "id": "3f5bdc1a-f85f-47f8-8f85-11576df2cd77",
      "name": "GenerateReply"
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-120b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        1072,
        176
      ],
      "id": "84d770c1-6237-4a92-953a-076c8d02c72b",
      "name": "gpt-oss-120b",
      "credentials": {
        "groqApi": {
          "id": "THpHjTCysVpI7FN1",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://learn.app.n8n.cloud/webhook/course/n8n103/reply",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Assessment-ID",
              "value": "351eb5323416ed9f26787bb70d4043d5"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "feedback_id",
              "value": "=={{ $('SetFeedbackItem').item.json.feedback_id }}"
            },
            {
              "name": "generated_reply",
              "value": "=={{ $json.text }}"
            },
            {
              "name": "model_used",
              "value": "openai/gpt-oss-20b,openai/gpt-oss-120b"
            },
            {
              "name": "sentiment",
              "value": "=={{ $('SetClassificationResult').item.json.sentiment }}"
            },
            {
              "name": "topic",
              "value": "=={{ $('SetClassificationResult').item.json.topic }}"
            },
            {
              "name": "urgency",
              "value": "=={{ $('SetClassificationResult').item.json.urgency }}"
            },
            {
              "name": "key_issue",
              "value": "=={{ $('SetClassificationResult').item.json.key_issue }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1344,
        0
      ],
      "id": "b8921f73-3f4b-47e8-8492-48301c6244a7",
      "name": "SendGeneratedReply",
      "credentials": {
        "httpHeaderAuth": {
          "id": "Kk3l7dnBMbaxvFJj",
          "name": "Header Auth account 5"
        }
      }
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-20b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        560,
        208
      ],
      "id": "2c4b94f6-2786-4d18-aa57-5a3db8a3107b",
      "name": "gpt-oss-20b",
      "credentials": {
        "groqApi": {
          "id": "THpHjTCysVpI7FN1",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Customer: {{ $json.customer_name }}\nFeedback: {{ $json.message }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "You are a customer feedback analyst.  Analyze the feedback and classify it by: 1. Sentiment: Is the customer positive, neutral, or negative? 2. Topic: Is this about billing, product, support, or general? 3. Urgency: Based on the tone and content, is this low, medium, or high urgency? 4. Key Issue: Summarize the main point in one sentence  Output Requirements  sentiment: Must be exactly one of: positive, neutral, or negative topic: Must be exactly one of: billing, product, support, or general urgency: Must be exactly one of: low, medium, or high key_issue: A one-sentence summary of the main issue or praise  Example output format:  {   \"sentiment\": \"positive\",   \"topic\": \"product\",   \"urgency\": \"low\",   \"key_issue\": \"Customer is satisfied with the product\" }"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        624,
        0
      ],
      "id": "9b630d4d-797d-457c-a060-6ad5cb309ea9",
      "name": "ClassifyFeedback",
      "retryOnFail": true
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"sentiment\": \"positive\",\n  \"topic\": \"product\",\n  \"urgency\": \"low\",\n  \"key_issue\": \"Customer is satisfied with the product\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        768,
        208
      ],
      "id": "d44a3640-8205-4cca-9996-99a79b21b540",
      "name": "OutputParser"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dc30d645-133d-4de2-a2a3-73316387d683",
              "name": "feedback_id",
              "value": "={{ $('SetFeedbackItem').item.json.feedback_id }}",
              "type": "string"
            },
            {
              "id": "813f5c55-34dc-4a0a-9df5-a14121bbe582",
              "name": "customer_name",
              "value": "={{ $('SetFeedbackItem').item.json.customer_name }}",
              "type": "string"
            },
            {
              "id": "16e7fb97-7f64-47c4-940c-6676796d1027",
              "name": "message",
              "value": "={{ $('SetFeedbackItem').item.json.message }}",
              "type": "string"
            },
            {
              "id": "1a0efe7a-7bcc-4bcf-8626-bf100e30b586",
              "name": "sentiment",
              "value": "={{ $('ClassifyFeedback').item.json.output.sentiment }}",
              "type": "string"
            },
            {
              "id": "d0ca746c-9931-4d3b-b5f8-3f4eb31f1777",
              "name": "topic",
              "value": "={{ $('ClassifyFeedback').item.json.output.topic }}",
              "type": "string"
            },
            {
              "id": "628ead76-1bcf-4748-ad0d-5585f2361cba",
              "name": "urgency",
              "value": "={{ $('ClassifyFeedback').item.json.output.urgency }}",
              "type": "string"
            },
            {
              "id": "398f51ab-cec7-45b0-a538-75cc408c3a56",
              "name": "key_issue",
              "value": "={{ $('ClassifyFeedback').item.json.output.key_issue }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        896,
        0
      ],
      "id": "a1af6da4-fafa-4f5b-8709-e1768d20ba95",
      "name": "SetClassificationResult"
    }
  ],
  "connections": {
    "TriggerManual": {
      "main": [
        [
          {
            "node": "GetFeedback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetFeedback": {
      "main": [
        [
          {
            "node": "SetFeedbackItem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SetFeedbackItem": {
      "main": [
        [
          {
            "node": "ClassifyFeedback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GenerateReply": {
      "main": [
        [
          {
            "node": "SendGeneratedReply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "gpt-oss-120b": {
      "ai_languageModel": [
        [
          {
            "node": "GenerateReply",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "gpt-oss-20b": {
      "ai_languageModel": [
        [
          {
            "node": "ClassifyFeedback",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "ClassifyFeedback": {
      "main": [
        [
          {
            "node": "SetClassificationResult",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OutputParser": {
      "ai_outputParser": [
        [
          {
            "node": "ClassifyFeedback",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "SetClassificationResult": {
      "main": [
        [
          {
            "node": "GenerateReply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c4bb5e99a0afd3821b75dad9dbcf50644e10eb52864849817d666ae95aca2b1d"
  }
}
