report-generation-system/generating-report
{
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "43675118-17c6-4aa0-a3f0-03f6f3b51aab",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "AAEBpQfLSUCLu3bM",
          "mode": "list",
          "cachedResultName": "customers",
          "cachedResultUrl": "/projects/CtRzYUT3Vobi7eTl/datatables/AAEBpQfLSUCLu3bM"
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        224,
        112
      ],
      "id": "6bde2c2c-4f7a-4784-bf24-fb48ff1bf860",
      "name": "GetCustomers"
    },
    {
      "parameters": {
        "url": "https://learn.app.n8n.cloud/webhook/courses/n8n-quickstart/company-data",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": " x-assessment-id",
              "value": "351eb5323416ed9f26787bb70d4043d5"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        224,
        -160
      ],
      "id": "5e21f234-78eb-4836-91c1-cef68856e145",
      "name": "GetOrderData",
      "credentials": {
        "httpHeaderAuth": {
          "id": "k0EbegVI9GPPJkcS",
          "name": "Header Auth account 3"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "advanced": true,
        "mergeByFields": {
          "values": [
            {
              "field1": "customerID",
              "field2": "customerID"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        448,
        -48
      ],
      "id": "44aa7b83-915d-459b-bc4d-9f43a48839d1",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f70940fc-db39-4e61-ae4e-196188e89c30",
              "name": "=orderTotal",
              "value": "={{ $json.orderPrice * $json.quantity }}",
              "type": "number"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        656,
        -48
      ],
      "id": "3f3971fc-d7b5-41aa-b410-0a830f2f5594",
      "name": "CalculateTotal"
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "orderTotal",
              "order": "descending"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        864,
        -48
      ],
      "id": "56f040dd-d20e-4189-8879-286caa0b9f33",
      "name": "SortByTotal"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "bfd9c576-21e8-468b-a306-780355319f09",
              "leftValue": "={{ $json.region }}",
              "rightValue": "Europe",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        1088,
        -192
      ],
      "id": "44e22281-149c-4706-b59d-7a5662e1f200",
      "name": "EuropeOnly"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1296,
        -192
      ],
      "id": "168f720d-40d5-4c3a-a7dc-893b4df79cd8",
      "name": "ConvertToCSV"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://learn.app.n8n.cloud/webhook/courses/n8n-quickstart/upload-report",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-assessment-id",
              "value": "351eb5323416ed9f26787bb70d4043d5"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1488,
        -192
      ],
      "id": "42f4e766-3858-4cfe-9c1e-56c1a7f4b190",
      "name": "UploadReport",
      "credentials": {
        "httpHeaderAuth": {
          "id": "k0EbegVI9GPPJkcS",
          "name": "Header Auth account 3"
        }
      }
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "sum",
              "field": "orderTotal"
            },
            {
              "field": "orderTotal"
            }
          ]
        },
        "fieldsToSplitBy": "region",
        "options": {
          "outputFormat": "separateItems"
        }
      },
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1.1,
      "position": [
        1088,
        192
      ],
      "id": "485b871a-0647-4832-8f50-9d521e7513b6",
      "name": "SummarizeByRegion"
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "sum_orderTotal",
              "order": "descending"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        1296,
        192
      ],
      "id": "d44b68b4-67d3-4d4a-b936-62d93d3da8ce",
      "name": "SortSummary"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1504,
        64
      ],
      "id": "ba246da6-8a8a-43b6-8f57-7bf770a383f3",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c9353567-0ba9-4299-9fc1-106355702827",
              "name": "=discord_message",
              "value": "=[351eb5323416ed9f26787bb70d4043d5] Regional Sales Summary: {{ $json.region }} - {{ $json.count_orderTotal }} orders, total: ${{ $json.sum_orderTotal.toFixed(2) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1520,
        288
      ],
      "id": "2b81ef8f-4338-4d1c-8f98-4fa35bffeb53",
      "name": "BuildDiscordMessage"
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "={{ $('BuildDiscordMessage').item.json.discord_message }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        1728,
        288
      ],
      "id": "e908abd9-602f-4ac8-bd83-8db7b2e582d2",
      "name": "SendToDiscord",
      "webhookId": "7d75ff88-9baf-4f75-be48-e5ea15078744",
      "credentials": {
        "discordWebhookApi": {
          "id": "DlYNATcTVnyYD9JE",
          "name": "n8n Quickstart S2 Discord Webhook account"
        }
      }
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "GetOrderData",
            "type": "main",
            "index": 0
          },
          {
            "node": "GetCustomers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetCustomers": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "GetOrderData": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "CalculateTotal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CalculateTotal": {
      "main": [
        [
          {
            "node": "SortByTotal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SortByTotal": {
      "main": [
        [
          {
            "node": "EuropeOnly",
            "type": "main",
            "index": 0
          },
          {
            "node": "SummarizeByRegion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EuropeOnly": {
      "main": [
        [
          {
            "node": "ConvertToCSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ConvertToCSV": {
      "main": [
        [
          {
            "node": "UploadReport",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SummarizeByRegion": {
      "main": [
        [
          {
            "node": "SortSummary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SortSummary": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          },
          {
            "node": "BuildDiscordMessage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        []
      ]
    },
    "BuildDiscordMessage": {
      "main": [
        [
          {
            "node": "SendToDiscord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c4bb5e99a0afd3821b75dad9dbcf50644e10eb52864849817d666ae95aca2b1d"
  }
}
